{% extends "::base.html.twig" %}
{% spaceless %}
{% block title %}
    {{ chapter.name }} - {{ parent() }}
{% endblock %}    
{% block main_content %}
<!-- Home - Header -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <!-- About - Header -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section class="about-header">
            <div class="container">	
                <div class="row">
                    <div class="col-md-8 wow fadeInUp" data-wow-duration="2s" >
                        <header class="section-header" style="margin:0;color: white;">
                            <p class="subhead">{{ chapter.parent.name }}</p>
                            <h2 style="color: white;">{{chapter.name}}</h2>
                            <p class="large">{%if chapter.description is not null%}{{chapter.description}}{%else%}{{ 'formation.no_description'| trans({},'messages') }}{%endif%}</p>
                        </header>	
                    </div>
                    <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" >
                        {%if chapter.icon is not null%}
                            <img src="{{ asset('bundles/teacampuscommon/images/formation/'~chapter.icon~'.png') }}" alt="TeaCampus {{chapter.name}}"  width="150px"/>
                        {%endif%}
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section>
        <section class="wrap-blog-content blog wrap-contacts" style="margin-top: 0px">
            <div class="container">
                <div class="anchor-icon"><i class="fa fa-graduation-cap"></i></div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 left-column">
                        
                        <header class="section-header no-home">
                            <p class="subhead">{{ chapter.parent.name }}</p>
                            <h2>{{ chapter.name }}</h2>
                        </header>
                        <div class="row tri pull-right" style="margin-left: 20px;margin-bottom: 20px">
                            <h5><i class="fa fa-sort"></i>
                                {{ 'project.show.sort_by'|trans({},'messages') }} :   
                                {{ knp_pagination_sortable(pagination, '   Titre ', 'a.title') }}  | 
                                {{ knp_pagination_sortable(pagination, '   Date de publication ', 'a.date') }}  
                            </h5>
                        </div>
                        <div class="text-center col-md-12">
                            <!-- Formation - Catégories -->
                            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
                            <div class="row wrap-works" style="margin-top:50px;">
                            {% for video in pagination %}
                                <div class="col-md-6" >
                                    {{ include( 'TeaCampusCommonBundle:Formation:list_item.html.twig', {'video':video}) }}
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                        <div class="text-center col-md-12">
                            <div class="quicklinks">
                                <h5> {{ knp_pagination_render(pagination, null, {}, {'style': 'pager'}) }} </h5>
                            </div>
                        </div>
                                        
                    </div>

                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 sidebar">
                        <!-- Navbar -->
                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/index.html.twig', {'type':'videos'}) }}
                        
                    </div>
                </div>
            </div>
        </section>
        
{% endblock %}

{% block scripts %}
    
                
{% endblock %}

{% endspaceless %}
