<div class="post">
    <div class="post-heading">
        <div class="post-image">
            {% thumbnail video.video, 'big' with {'width':'100%','height':'auto','alt':video.title} %}
            <div class="mask">
                <div class="icons">
                    <a href="{{ path('tea_formations_show', { 'id': video.id, 'subject':video.category.parent.slug,'chapter':video.category.slug } ) }}"><i class="fa fa-play-circle fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="post-body">
        <h5 style="min-height: 35px;">
            {%if  video.title|length < 51%}
                {{video.title}}
            {%else%}
                {{video.title|striptags|slice(0, 51) ~ '...'}}
            {%endif%}
        </h5>
        <a href="{{ path('tea_user_profile',{'id':video.author.id}) }}"><p>{%if video.author.firstname is not null%}{{video.author.firstname ~ ' ' ~ video.author.lastname }}{%else%}{{video.author.username}}{%endif%}</p></a>
    </div>
</div>