{%if message.sender.id == app.user.id %}
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time" >{{utils.sinceOrDateTime(message.createdAt,app.request.locale)}}</span> &nbsp; &nbsp;
            <span class="message-data-name" >{{ message.sender.firstnameForMessage }}</span> <i class="fa fa-circle me"></i>

        </div>
        <div class="message other-message float-right">
            {{ message.body }}
        </div>
    </li>
{%else%}
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{ message.sender.firstnameForMessage }}</span>
            <span class="message-data-time">{{utils.sinceOrDateTime(message.createdAt,app.request.locale)}}</span>
        </div>
        <div class="message my-message">
            {{ message.body }}
        </div>
    </li>
{%endif%}




