<section class="wrap-questions" style="max-width: 80%;margin-left: auto;margin-right: auto;">
    <div class="container" >
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                <h3>{{ 'message.show.subject'| trans({},'messages') }} : {{ thread.subject }}</h3>
            </div>
        </div>
        <div class="row" id="messageContainer">
            {% for message in thread.messages %}
                {{ include( 'ApplicationFOSMessageBundle:Message:message_line.html.twig', {'message':message}) }}
            {% endfor %}
        </div> <!--row-->
        
        <div class="row text-center">
            <div class="col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %} &nbsp; <i style="display: none;" id="messageLoader" class="fa fa-spin fa-spinner"></i></h3>
                <form action="{{ url('fos_message_thread_view_ajax', {'threadId': thread.id}) }}" method="post" id="replyMessage">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div style="margin-bottom: 10px">{{ form_widget(form.body, { 'attr': {'placeholder': 'form.body'|trans({},'messages'), 'type': 'textarea','class':'form-control', 'style':'background-color:#fff'} }) }}</div>

                    <input class ="btn btn-primary" type="submit" />
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</section>
{% block messageScripts %}
    <script>
        $('#replyMessage').on('submit', function(e) {
            e.preventDefault();
            $('#messageLoader').show();
            $.ajax({
                url: $(this).attr('action'),
                dataType: "json",
                data: $(this).serialize(),
                type: 'POST'
            })
            .done(function (data) {
                if (data['success']) {
                    $('#messageContainer').append(data['content']);
                    $("textarea#message_body").val('').focus();
                } else {
                    alert("{{ 'message.error'| trans({},'messages') }}");
                }
                $('#messageLoader').hide();

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("{{ 'message.error'| trans({},'messages') }}");
                console.log(textStatus, errorThrown);
            });
            
        });
        
    </script>
        
{% endblock %}