<section class="wrap-questions" style="max-width: 80%;margin-left: auto;margin-right: auto;">
    <div class="container" >
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                <h3>{{ 'message.show.subject'| trans({},'messages') }} : {{ thread.subject }}</h3>
            </div>
        </div>
        <div class="row" >
            {% for message in thread.messages %}
                <div class="list-comments col-md-offset-1 col-md-9 col-sm-12 col-xs-12" >
                    <ul class="row">
                        <li style="visibility: visible">
                            <div class="col-md-1">
                                <div class="avatar">
                                    <a href="{{path('fos_user_profile_show')}}">
                                        {% if message.sender.avatar is not null %}
                                            {% thumbnail message.sender.avatar, 'square' with{'width':'62px','height':'62px','style':'border-radius:50%;border:1px solid white'} %}
                                        {% else %}
                                            {% image '@TeaCampusCommonBundle/Resources/public/images/unknown.png'  output="images/avatar.jpg" %}
                                            <img src="{{ asset_url }}" width='62px' height='62px' style="border-radius:50%;border:1px solid white">
                                            {% endimage %}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="comment-info clearfix">
                                    <h5 class="pull-left">
                                        {% if app.user.username == message.sender %}
                                            {{ 'message.show.you'| trans({},'messages') }}
                                        {% else%}
                                            {{ 'message.show.by'| trans({},'messages') }} : {{message.sender}}
                                        {% endif %}
                                    </h5>
                                    <ul class="list-inline pull-right">
                                        <li><i class="fa fa-calendar"></i>{{message.createdAt|date("d F Y")}}</li>
                                        
                                    </ul>
                                </div>
                                <p>{{ message.body }} </p>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div> <!--row-->

        <div class="row">
            <div class="col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>
                <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div style="margin-bottom: 10px">{{ form_widget(form.body, { 'attr': {'placeholder': 'form.body'|trans({},'messages'), 'type': 'textarea','class':'form-control', 'style':'background-color:#fff'} }) }}</div>

                    <input class ="btn btn-primary" type="submit" />
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</section>