<table class="table">
    <tbody>

        {% if threads %}
            {% for thread in threads %}
                {% if not fos_message_is_read(thread) %}
                    <tr style="background-color: #E7E7E7;">
                    {% else %}
                    <tr>
                    {% endif %}

                    <td style="text-align: justify">
                        <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" class="ajax-popup-link">
                            ({{ thread.messages|length }})
                            {{thread.lastMessage.sender.fullname}}                   
                        </a>
                    </td>

                    <td>
                        <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" class="ajax-popup-link"> 
                            <p style="text-align: justify"><b>{{ thread.subject }}</b> - {{ thread.lastMessage.body | slice(0,45) }}<p>
                        </a>
                    </td>
                    <td>
                        {% if thread.lastMessage %}
                            {#<a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                                →
                            </a>#}
                            {% trans with {'%date%': thread.lastMessage.createdAt|format_date('dd MMMM Y', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))} from 'FOSMessageBundle' %}on{% endtrans %}
                        {% else %}
                            ----
                        {% endif %}
                    </td>
                    <td>
                        {% if fos_message_can_delete_thread(thread) %}
                            {% if fos_message_deleted_by_participant(thread) %}
                                {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                        {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                    {% endif %}
                    <a class="btn btn-danger btn-xs ajax-delete" href="#delete-message-modal-{{thread.id}}"><i class="fa fa-trash"></i></a>
                    <div id="delete-message-modal-{{thread.id}}" class="mfp-hide mfp-small-dialog">
                        <h1>{{ 'message.delete.title'|trans({}, 'messages') }}</h1>
                        <p>{{ 'message.delete.sure'|trans({}, 'messages') }}</p>
                        <p>
                            <a class="btn btn-xs btn-primary popup-modal-dismiss" href="#">{{ 'message.delete.no'|trans({}, 'messages') }}</a>
                        <form action="{{ formAction }}" method="post">
                            <input class="btn btn-xs btn-danger delete-button" type="submit" value="{{ submitValue }}" />
                        </form>
                        </p>
                        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                    </div>

                {% endif %}
            </td>

        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="6">
            {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
        </td>
    </tr>
{% endif %}

</tbody>

</table>
