{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-6">
        <a href="{{path('hwi_oauth_service_redirect',{'service':'facebook'})}}" class="signup-facebook">
            <i class="fa fa-facebook-square">&nbsp;&nbsp;</i>
            Facebook
        </a>
    </div>
    <div class="col-md-6">
        <a href="{{path('hwi_oauth_service_redirect',{'service':'google'})}}" class="signup-google">
            <i class="fa fa-google-plus-square">&nbsp;&nbsp;</i>
            Google
        </a>
    </div>
</div>
<span class="or-sep">{{ 'register.or'|trans({}, 'messages') }}</span>
<div style="margin-bottom: 20px;">
    <span>
        {{ 'register.self_register_text'|trans({}, 'messages') }}
    </span>
</div>
<a style="margin-bottom: 20px;" href="{{ path('fos_user_registration_register') }}" class="btn btn-sm btn-primary">{{ 'link_register'|trans({}, 'SonataUserBundle') }}</a>

   
