{# empty Twig template #}
{% extends "::base.html.twig" %}
{% trans_default_domain "ApplicationSonataUserBundle" %}
{% spaceless %}
    {% set wearesocial = true %} 
    {% block title %}
        {{ 'menu.projects'| trans({},'messages') }} - {{ parent() }}
    {% endblock %}

    {% block main_content %}
        {% if selectionOftea is not null %}
            {{ include( 'TeaCampusCommonBundle:Projet:Parts/intro.html.twig') }}
        {% endif %}
        <section class="wrap-blog-content blog wrap-contacts" style="margin-top: 0px">
            <div class="container">
                <div class="anchor-icon"><i class="fa fa-user"></i></div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 left-column">
                        <div class="row">
                            <!--breadcrumbs-->
                            {% block sonata_page_breadcrumb %}
                                <div class="breadcrumbs">
                                    <ol class="breadcrumb">
                                        <li class=""><a href="">{{ 'menu.home'|trans({}, 'messages') }}</a><div class="sonata_breadcrumb"></div></li>
                                        <li class=""><a href="">{{ 'menu.projects'|trans({}, 'messages') }}</a><div class="sonata_breadcrumb"></div></li>
                                    </ol>
                                </div>
                            {% endblock %}
                        </div>
                        <header class="section-header no-home">
                            <h2>
                                {{ 'project.show.other'|trans({},'messages') }}                    
                            </h2>
                            <p class="subhead"></p>
                        </header>
                        <div class="text-center col-md-12">
                            <div class ="wrap-features">
                                <div class="container">
                                    <div class="row">
                                        {# items projetofthemonth #}
                                        {{ include( 'TeaCampusCommonBundle:Projet:Parts/projectofthemonth.html.twig') }}
                                        {# End items#}
                                        {# items projetoftheweek #}
                                        {{ include( 'TeaCampusCommonBundle:Projet:Parts/projectoftheweek.html.twig') }}
                                        {# End items#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ include( 'TeaCampusCommonBundle:Projet:Parts/latestproject.html.twig') }}  
                        <header class="section-header no-home">
                            <h4 class="text-center">
                                {{ 'project.show.show_all_title'|trans({},'messages') }}                    
                            </h4>
                            <p style="font-size: 20px">{{ 'project.show.show_all_subtitle'|trans({},'messages') }}</p>
                        </header>                                                      
                        <div class="col-md-12 align-center">
                            <a href="{{path('tea_projects_list')}}" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;{{ 'project.show.show_all'|trans({},'messages') }}</a>
                        </div>                  
                    </div>

                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 sidebar">
                        <!-- search -->
                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/projects_search.html.twig') }}
                        <!-- tags -->
                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/tags.html.twig', {'title':'aside.tags.title'|trans({},'messages'), 'tags':tags, 'path':'sonata_news_tag'}) }}                        
                        <!-- popuar projects -->
                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/projects.html.twig', {'title':'aside.projects.most'|trans({},'messages'), 'articles':mostRead, 'icon':'fa-flash'}) }}

                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/news.html.twig', {'title':'aside.news.most'|trans({},'messages'), 'articles':AmostRead, 'icon':'fa-flash'}) }}

                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
{% endspaceless %}