{# created By SAMIE MEHEZA #}

{% extends "::base.html.twig" %}

{% spaceless %}
    {% set newsletter = true %} 
    {% block title %}
        {{ 'project.list.title'|trans }} | {{ parent() }}
    {% endblock %}

    {% block main_content %}
        <section class="wrap-blog-content blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 left-column">
                        <div class="row">
                            <!--breadcrumbs-->
                            {% block sonata_page_breadcrumb %}
                                <div class="breadcrumbs">
                                    <ol class="breadcrumb">
                                        <li class=""><a href="">{{ 'menu.home'|trans({}, 'messages') }}</a><div class="sonata_breadcrumb"></div></li>
                                        <li class=""><a href="">{{ 'menu.projects'|trans({}, 'messages') }}</a><div class="sonata_breadcrumb"></div></li>
                                    </ol>
                                </div>
                            {% endblock %}
                        </div>
                        <header class="section-header no-home">
                            <h2>
                                {%if tag is defined and tag != false %}
                                    "&nbsp;{{tag}}&nbsp;" 
                                {%elseif collection is defined and collection  != false%}
                                    "&nbsp;{{collection}}&nbsp;" 
                                {%else%}
                                    {{ 'project.list.title'|trans({},'messages') }}
                                {%endif%}                       
                            </h2>
                            <p class="subhead"> {{ pagination.getTotalItemCount }} Projet(s)</p>
                        </header>
                        <div class="row tri" style="margin-left: 20px;margin-bottom: 20px">
                            <h5><i class="fa fa-sort"></i>
                                {{ 'project.show.sort_by'|trans({},'messages') }} :   
                                {{ knp_pagination_sortable(pagination, '   Titre ', 'a.title') }}  | 
                                {{ knp_pagination_sortable(pagination, '   Date de publication ', 'a.date') }}  
                            </h5>
                        </div>
                        <div >
                            <div class ="wrap-features">
                                <div class="container col-md-12">
                                    <div class="row">
                                        {% for project in pagination %}
                                            <a href="{{ path('tea_projects_show',{'id':project.id}) }}">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" >
                                                    <div class="wrap-feature-item">
                                                        <div class="feature-item">
                                                            <div class="front face">
                                                                <div class="ico ">
                                                                    {% thumbnail project.media, 'square' with{'width':'107px', 'height':'107px', 'alt':project.title,'style':'border-radius:50%;border:1px solid white;padding-top:2px' } %}
                                                                </div>
                                                                <div class="title">{{project.title}}</div>
                                                                <div class="number">{{project.getTargetCountry()|country}}</div>
                                                            </div>
                                                            <div class="back face center">
                                                                <div class="ico ">{% thumbnail project.media, 'square' with{'width':'40px', 'height':'40px', 'alt':project.title,'style':'border-radius:50%;border:1px solid white;padding-top:2px' } %}</i></div>
                                                                <div class="title">{{project.title}}</div>
                                                                <div class="text">
                                                                    <p style="text-align: justify">
                                                                        {%if  project.description|length < 105%}
                                                                            {{project.description}}
                                                                        {%else%}
                                                                            {{project.description|striptags|slice(0, 105) ~ '...'}}
                                                                        {%endif%}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>{%else%}
                                            <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" >
                                                <div class="box clearfix">
                                                    <h5> {{ 'project.show.no_project'|trans({},'messages') }} </h5>
                                                </div>
                                            </div> 
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center col-md-12">
                            <div class="quicklinks">
                                <h5> {{ knp_pagination_render(pagination, null, {}, {'style': 'pager'}) }} </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 sidebar">
                        <!-- Navbar -->
                        {{ include( 'TeaCampusCommonBundle:Sections:SideBar/index.html.twig', {'type':'projects'}) }}

                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

{% endspaceless %}



