{% extends "::base.html.twig" %}
{% trans_default_domain "ApplicationSonataUserBundle" %}
{% spaceless %}
    {% set wearesocial = true %} 
    {% block title %}
        {{ 'profile.title'| trans({},'messages') }} - {{ parent() }}
    {% endblock %}

    {% block stylesheets %} 
        {% stylesheets 'bundles/teacampuscommon/css/bootstrap-tagsinput.css' filter='cssrewrite'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block main_content %}
        <section class="about-me-header">
            <div class="container">	
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" >
                        <h1 class="title">
                            {%if app.user.firstname is not null and app.user.lastname is not null%}
                                {{app.user.firstname ~ ' ' ~ app.user.lastname}}
                            {%else%}
                                {{app.user.username}}
                            {%endif%}
                        </h1>
                        <div class="path pull-right">
                            {%if app.user.biography is not null%}
                                {{app.user.biography}}
                            {%else%}
                                {{ 'profile.member_since'| trans({},'messages') }}&nbsp;
                                {{app.user.createdAt|format_date('dd MMMM Y', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))}}
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" >
                        <div class="avatar">
                            {% if app.user.avatar is not null %}
                                {% thumbnail app.user.avatar, 'square' with{} %}
                            {% else %}
                                {% image '@TeaCampusCommonBundle/Resources/public/images/unknown.png'  output="images/avatar.jpg" %}
                                <img src="{{ asset_url }}">
                                {% endimage %}
                            {% endif %}
                        </div>
                    </div>
                </div><!--row-->
            </div><!--container-->
        </section> 
        <!-- Profil - Tabs -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <section  class="profil-tabs wrap-contacts">
            <div class="container container-tabs">
                <div class="anchor-icon"><i class="fa fa-user"></i></div>
                <!-- Nav tabs -->
                <ul id="user-profil-tabs" class="nav  nav-tabs-alt nav-tabs-two nav-tab-inverse" role="tablist">
                    <li role="presentation" class="active"><a href="#infos" aria-controls="infos" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ 'tabs.infos.title'| trans({},'messages') }}</a></li>
                    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab"><i class="fa fa-play-circle"></i>&nbsp;&nbsp;{{ 'tabs.videos.title'| trans({},'messages') }}</a></li>
                    <li role="presentation"><a href="#projets" aria-controls="projets" role="tab" data-toggle="tab"><i class="fa fa-file-o"></i>&nbsp;&nbsp;{{ 'tabs.projects.title'| trans({},'messages') }}</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;{{ 'tabs.messages.title'| trans({},'messages') }}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <!--  Info -->
                    <!-- ++++++++++++++++++++++++++++++++++++++++ -->
                    <div role="tabpanel" class="tab-pane active" id="infos">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="footer-header">	
                                    <h2>{{ 'tabs.infos.title'| trans({},'messages') }}</h2>
                                </div>
                            </div>				
                        </div><!--row-->
                        <div class="row tabpanel-content">
                            {{ include( 'ApplicationSonataUserBundle:Profile:Tabs/infos.html.twig') }}
                        </div>
                    </div><!--tabpanel-->

                    <!-- Mes videos -->
                    <!-- ++++++++++++++++++++++++++++++++++++++++ -->
                    <div role="tabpanel" class="tab-pane" id="videos">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="footer-header">	
                                    <h2>{{ 'tabs.videos.title'| trans({},'messages') }}</h2>
                                </div>	
                            </div>				
                        </div><!--row-->
                        <div class="row tabpanel-content">
                        {{ include( 'ApplicationSonataUserBundle:Profile:Tabs/videos.html.twig') }}
                        </div>
                    </div><!--tabpanel-->

                    <!-- Mes projets -->
                    <!-- ++++++++++++++++++++++++++++++++++++++++ -->
                    <div role="tabpanel" class="tab-pane" id="projets">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="footer-header">	
                                    <h2>{{ 'tabs.projects.title'| trans({},'messages') }}</h2>
                                </div>
                                <div class="col-md-12 align-center">
                                    <a class="btn btn-primary btn-xs ajax-popup-link" href="{{path('tea_projects_add')}}"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'project.add.title'|trans({},'messages') }}</a>
                                </div>
                            </div>				
                        </div><!--row-->
                        <div class="row tabpanel-content" id="project-list">
                            {{ include( 'ApplicationSonataUserBundle:Profile:Tabs/projects.html.twig') }}
                        </div>
                    </div><!--tabpanel-->

                    <!-- Messages -->
                    <!-- ++++++++++++++++++++++++++++++++++++++++ -->
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="footer-header">	
                                    <h2>{{ 'tabs.messages.title'| trans({},'messages') }}</h2>
                                </div>	
                            </div>				
                        </div><!--row-->
                        {{ include( 'ApplicationSonataUserBundle:Profile:Tabs/message.html.twig') }}
                </div><!--tabpanel-->

            </div><!--tab-content-->

        </div><!--container-->



    </section>
{% endblock %}

{% block scripts %}

    <script>
        $('.ajax-popup-link').magnificPopup({
            closeBtnInside: true,
            midClick: true,
            type: 'ajax'
        });

        $('.ajax-delete').magnificPopup({
            type: 'inline',
            modal: true
        });
        $(document).on('click', 'a.delete-button', function (e) {
            e.preventDefault();
            var li = $(this).attr('data-li');
            $.ajax({
                url: $(this).attr('href'),
                dataType: "json",
                data: {id: $(this).attr('data-id')},
                type: 'POST'
            })
                    .done(function (data) {
                        $.magnificPopup.close();
                        if (data['success']) {
                            $("#" + li).fadeOut(700, function () {
                                $(this).remove();
                            });
                        } else {
                            alert("{{ 'projet.delete.error'| trans({},'messages') }}");
                        }

                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    });
        });

        $(document).on('click', '.popup-modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });

        $(document).ready(function () {

        });

    </script>
{% endblock %}
{% endspaceless %}