{#Created By SAMIE MEHEZA#}

<section  class="profil-tabs wrap-contacts">
    <div class="container container-tabs">
        <!-- Nav tabs -->
        <ul id="user-profil-tabs" class="nav  nav-tabs-alt nav-tabs-two nav-tab-inverse" role="tablist">
            <li role="presentation" class="active"><a href="#reception" aria-controls="reception" role="tab" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
            <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
            <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <!--  Info -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane active" id="reception">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="footer-header">	
                            <h2>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h2>
                        </div>
                    </div>				
                </div><!--row-->
                <div class="row tabpanel-content">
                    {% include 'ApplicationFOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
                </div>
            </div><!--tabpanel-->

            <!-- Mes videos -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane" id="sent">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="footer-header">	
                            <h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>
                        </div>	
                    </div>				
                </div><!--row-->
                <div class="row tabpanel-content">
                    {% include 'ApplicationFOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads_send} %}
                </div>
            </div><!--tabpanel-->

            <!-- Mes projets -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane" id="new">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="footer-header">	
                            <h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
                        </div>
                    </div>				
                </div><!--row-->
                <div class="row tabpanel-content">

                    <div class="col-sm-6 col-sm-offset-3 contact-form">
                        <div id="response"></div>
                        <form action="{{ url('fos_message_thread_new') }}" method="post">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                          <div style="margin-bottom: 10px">{{ form_widget(form.recipient, { 'attr': {'placeholder': 'form.recipe'|trans({},'messages'), 'type': 'text','class':'form-control','style':'background-color:#fff'} }) }}</div>
                          <div style="margin-bottom: 10px">{{ form_widget(form.subject, { 'attr': {'placeholder': 'form.subject'|trans({},'messages'), 'type': 'text','class':'form-control','style':'background-color:#fff'} }) }}</div>
                          <div style="margin-bottom: 10px">{{ form_widget(form.body, { 'attr': {'placeholder': 'form.body'|trans({},'messages'), 'type': 'textarea','class':'form-control','style':'background-color:#fff'} }) }}</div>
                          <input class="contact_button button btn btn-primary btn-block" style="margin-bottom: 10px" type="submit" />
                        {{ form_end(form) }}
                       </form>
                    </div>

                </div>
            </div><!--tabpanel-->

        </div><!--tab-content-->

    </div><!--container-->



</section>