<header class="section-header" style="margin:0;">
    <p class="subhead">{{ 'formation.tutoring.subhead'| trans({},'messages') }}</p>
    <p class="center-block" style="text-align: justify;max-width: 700px;">
        {{ 'formation.tutoring.intro'| trans({},'messages') }}<br>
        {{ 'formation.tutoring.be_teacher'| trans({},'messages') }}
    </p>
</header>
{%if not tutoringRequestExist%}
<div id="requestNotSent">
    <div class="text-center"><a href="#" id="tutoring-request-button" class="btn btn-primary btn-sm">{{ 'formation.tutoring.button'| trans({},'messages') }}</a></div>
    <div class="row text-center" style="margin-top: 50px;margin-bottom: 50px">
        <div class="col-md-offset-2 col-md-8" id="tutoringFormContainer" style="display:none;">
            <h5>{% trans from 'messages' %}formation.tutoring.form.title{% endtrans %} &nbsp; <i style="display: none;" id="tutoringLoader" class="fa fa-spin fa-spinner"></i></h5>
            <form action="{{path("tea_formations_request")}}" method="post" id="tutoringRequestForm">

                <div style="margin-bottom: 10px">
                    <textarea name="motivations" required="required" placeholder="{{ 'formation.tutoring.form.placeholder'| trans({},'messages') }}" class="form-control" rows="4" cols="10"></textarea>
                </div>

                <input class ="btn btn-primary" type="submit" />
            </form>
        </div>
    </div>
</div>    
{%endif%}
<div id="requestNotAccepted" style="{%if not tutoringRequestExist%}display:none;{%endif%} margin:50px auto;" >
    <div class="row text-center">
        <i class="fa fa-thumbs-up fa-4x" style="color: #28ad62"></i><br>
        <p class="large">
            {{ 'formation.tutoring.request_not_accepted'| trans({},'messages') }}
        </p>
    </div>
</div>
    
