{# empty Twig template #}
{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% spaceless %}
    {% set wearesocial = true %} 
    {% block title %}
        {{ 'link_login'|trans({}, 'SonataUserBundle') }} - {{ parent() }}
    {% endblock %}

    {% block main_content %}
        <section class="home-header login-register">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 standalone-login">
                        <header class="section-header">
                            <p class="subhead">{{ 'login.subhead'| trans({},'messages') }}</p>
                            <h2>{{ 'login.title'| trans({},'messages') }}</h2>
                        </header>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{path('hwi_oauth_service_redirect',{'service':'facebook'})}}" class="signup-facebook">
                                    <i class="fa fa-facebook-square">&nbsp;&nbsp;</i>
                                    Facebook
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{path('hwi_oauth_service_redirect',{'service':'google'})}}" class="signup-google">
                                    <i class="fa fa-google-plus-square">&nbsp;&nbsp;</i>
                                    Google
                                </a>
                            </div>
                        </div>
                        <span class="or-sep">{{ 'register.or'|trans({}, 'messages') }}</span>
                        {% block fos_user_content %}
                        {% if error %}
                            {% if error.messageKey is defined %}
                                <div class="alert alert-danger" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% else %}
                                <div class="alert alert-danger" >{{ error|trans }}</div>
                            {% endif %}
                        {% endif %}
                        {#<h5>{{ 'link_login'|trans({}, 'SonataUserBundle') }}</h5>#}
                        <form class="form" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                            <div class="form-group">
                                <input placeholder="{{ 'security.login.password'|trans }}" class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />&nbsp;
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="submit-button form-control" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                            <span class="forgot"><a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a></span>


                        </form>
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </section>                   
    {% endblock %}

    {% block scripts %}
    {% endblock %}
{% endspaceless %}