<div class="popular-posts" xmlns="http://www.w3.org/1999/html">
    <h5><i class="fa {{icon}}"></i>{{title}}</h5>
    <ul class="clearfix">
        {% for post in articles %}
        <li>
            <div class="avatar pull-left">
                {% thumbnail post.image, 'square' with{'width':'45px', 'height':'45px', 'alt':post.title } %}
            </div>
            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" title="{{post.title}}" class="title">{{post.title}}</a>
            <span class="date">
                <i class="fa fa-clock-o"></i>{{utils.sinceOrDateTime(post.publicationDateStart,app.request.locale)}}</li>
            </span>
        </li>
        {%else%}
            <li>{{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}</li>
        {%endfor%}
    </ul>
</div>