{# empty Twig template #}
{# created By SAMIE MEHEZA #}
<div class="popular-posts">
    <h5><i class="fa {{icon}}"></i>{{title}}</h5>
    <ul class="clearfix">
        {% for project in articles %}
        <li>
            <div class="avatar pull-left">
                {% thumbnail project.media, 'square' with{'width':'45px', 'height':'45px', 'alt':project.title } %}
            </div>
            <a href="{{ path('tea_projects_show', { 'id': project.id } ) }}" title="{{project.title}}" class="title">{{project.title}}</a>
            <span class="date">
                <i class="fa fa-clock-o"></i>{{utils.sinceOrDateTime(project.createdAt,app.request.locale)}}
            </span>
        </li>
        {%else%}
            <li></li>
        {%endfor%}
    </ul>
</div>