{# empty Twig template #}
{# created By SAMIE MEHEZA #}
<div class="popular-posts" xmlns="http://www.w3.org/1999/html">
    <h5><i class="fa {{icon}}"></i>{{title}}</h5>
    <ul class="clearfix">
        {% for video in articles %}
        <li>
            <div class="avatar pull-left">
                {% thumbnail video.video, 'small' with{'width':'45px', 'height':'45px', 'alt':video.title } %}
            </div>
            <a href="{{ path('tea_formations_show', { 'id': video.id, 'subject':video.category.parent.slug,'chapter':video.category.slug } ) }}" title="{{video.title}}" class="title">{{video.title}}</a>
            <span class="date">
                <i class="fa fa-clock-o"></i>{{utils.sinceOrDateTime(video.date,app.request.locale)}}</li>
            </span>
        </li>
        {%else%}
            <li></li>
        {%endfor%}
    </ul>
</div>