{# empty Twig template #}
{# created By SAMIE MEHEZA #}
<div class="popular-posts">
    <h5><i class="fa {{icon}}"></i>{{title}}</h5>
    <ul class="clearfix">
        {% for video in articles %}
        <li>
            <div class="avatar pull-left">
                {% thumbnail video.video, 'small' with{'width':'50px', 'height':'50px', 'alt':video.title } %}
            </div>
            <a href="{{ path('tea_formations_show', { 'id': video.id, 'subject':video.category.parent.slug,'chapter':video.category.slug } ) }}" class="title">{{video.title}}</a>
            <ul class="list-inline clearfix">
                <li><i class="fa fa-user"></i>{%if video.author is null%}TEA{%else%}{{video.author.username}}{%endif%}</li>
                <li><i class="fa fa-calendar"></i>{{video.date|format_date('dd MMMM Y', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))}}</li>
            
            </ul>
        </li>
        {%else%}
            <li></li>
        {%endfor%}
    </ul>
</div>