{# empty Twig template #}
<div class="col-md-12 wow fadeInUp" data-wow-duration="2s" >
    <h5 class="text-left">{{ 'project.show.other'|trans({}, 'messages') }}</h5>
</div>

{# items randomProject #}
{% if randomproject is not null %}
    {% for project in randomproject %}
        <div class="col-md-12 wow fadeInUp" data-wow-duration="2s" >
            <div class="box clearfix">
                <div class="box-heading">
                    <h4>{{project.title}}</h4>
                    <div class="striped-icon-large">
                        <span aria-hidden="true" class="icon-graduation"></span>
                    </div>
                </div>
                <p>
                    {%if  project.description|length < 43%}
                        {{project.description}}
                    {%else%}
                        {{project.description|striptags|slice(0, 43) ~ '...'}}
                    {%endif%}
                </p>
                <a href="{{ path('tea_projects_show',{'id':project.id}) }}" class="btn btn-primary btn-sm pull-left">Details</a>
                {#                                                <a href="#" class="pull-right settings"><i class="fa  fa-cog"></i></a>#}
            </div>
        </div> 
    {% endfor%}
{% else %}
    <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" >
        <div class="box clearfix">
            <h5> {{ 'project.show.no_project'|trans({},'messages') }} </h5>
        </div>
    </div> 
{% endif %} 