<div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-duration="2s" >
    <h5 class="text-left">{{ 'project.show.other'|trans({}, 'messages') }}</h5>
</div>
{% if randomproject is not null %}
    {% for project in randomproject %}
        <a href="{{ path('tea_projects_show',{'id':project.id}) }}">
            <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-duration="2s" >
                <div class="wrap-feature-item">
                    <div class="feature-item" style="margin-left: 0px;margin-right: 0px;">
                        <div class="front face">
                            <div class="ico ">
                                {% thumbnail project.media, 'square' with{'width':'107px', 'height':'107px', 'alt':project.title,'style':'border-radius:50%;border:1px solid white;padding-top:2px' } %}
                            </div>
                            <div class="title">{{project.title}}</div>
                            <div class="number">{{project.getTargetCountry()|country}}</div>
                        </div>
                        <div class="back face center">
                            <div class="ico ">{% thumbnail project.media, 'square' with{'width':'40px', 'height':'40px', 'alt':project.title,'style':'border-radius:50%;border:1px solid white;padding-top:2px' } %}</i></div>
                            <div class="title">{{project.title}}</div>
                            <div class="text">
                                <p style="text-align: justify">
                                    {%if  project.description|length < 105%}
                                        {{project.description}}
                                    {%else%}
                                        {{project.description|striptags|slice(0, 105) ~ '...'}}
                                    {%endif%}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor%}
{% else %}
    <div class="col-md-4 wow fadeInUp" data-wow-duration="2s" >
        <div class="box clearfix">
            <h5> {{ 'project.show.no_project'|trans({},'messages') }} </h5>
        </div>
    </div> 
{% endif %} 