
            <!-- Post Item -->
            <li id="teaandme-{{video.id}}">
                <div class="project-thumbs">
                    {%if video.video is not null%}
                        <img src="{% path video.video, 'square' %}" title="{{ video.title }}" alt="{{ video.title }}"/>
                    {%else%}
                        {% image '@TeaCampusCommonBundle/Resources/public/images/no-teaandme.png'  output="images/no_video_teaandme_image.png" %}
                        <img src="{{ asset_url }}" class="center-block" style="width:70%">
                        {% endimage %}
                    {%endif%}
                </div>
                <div class="project-content">
                    <div class="project-infos clearfix">
                        <div class="pull-left">
                          <time class="label" datetime="{{video.date|format_date('Y-M-d')}}">{{video.date|format_date('dd MMMM Y', 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG'))}}</time>
                        </div>
                        <div class="pull-right">
                          {%if video.enabled %}
                              <span class="label label-primary">{{ 'project.other.enabled'|trans({}, 'messages') }}</span>
                          {% else %}
                               <span class="label label-danger">{{ 'project.other.not_enabled'|trans({}, 'messages') }}</span>
                          {% endif %}
                        </div>
                    </div>
                    <h2 class="project-title">
                        {%if video.video is not null%}
                        <a href="{{ path('tea_teaandme_show', { 'id': video.id} ) }}" class="ajax-popup-link">
                            {%if  video.title|length < 80%}
                                {{video.title}}
                            {%else%}
                                {{ video.title|striptags|slice(0, 80) ~ '...'}}
                            {%endif%}
                        </a>
                        {%else%}
                            {%if  video.title|length < 80%}
                                {{video.title}}
                            {%else%}
                                {{ video.title|striptags|slice(0, 80) ~ '...'}}
                            {%endif%}
                        {%endif%}
                        
                    </h2>
                    
                    
                    <p class="project-description"></p>
                    
                    <div class="project-metas">
                        <div class="project-edit pull-right">
                            {%if video.video is not null%}<a class="btn btn-primary btn-xs ajax-popup-link" href="{{ path('tea_teaandme_show', { 'id': video.id} ) }}"><i class="fa fa-eye"></i></a>{%endif%}
                            <a class="btn btn-primary btn-xs ajax-delete" href="#delete-modal-teaandme-{{video.id}}"><i class="fa fa-trash"></i></a>
                            <div id="delete-modal-teaandme-{{video.id}}" class="mfp-hide mfp-small-dialog">
                                <h1>{{ 'teaandme.delete.title'|trans({}, 'messages') }}</h1>
                                <p>{{ 'teaandme.delete.sure'|trans({}, 'messages') }}</p>
                                <p>
                                    <a class="btn btn-xs btn-primary popup-modal-dismiss" href="#">{{ 'teaandme.delete.no'|trans({}, 'messages') }}</a>
                                    <a class="btn btn-xs btn-danger delete-button" data-li="teaandme-{{video.id}}" data-id="{{video.id}}" href="{{ path('tea_teaandme_delete') }}">{{ 'teaandme.delete.yes'|trans({}, 'messages') }}</a>&nbsp;
                                </p>
                                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                            </div>
                        </div>
                        <div class="project-tags pull-left">
                            {% for tag in video.tags %}
                                <a href="{{ path('tea_teaandme_tag', { 'tag': tag.slug } ) }}"><span class="label {%if loop.index is odd%}label-success{%else%}label-danger{%endif%}">{{ tag.name }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
              </li>
              
    